/** Catppuccin Macchiato **/
:root {
  --palette-Rosewater:  #f4dbd6;
  --palette-Flamingo: #f0c6c6;
  --palette-Pink: #f5bde6;
  --palette-Mauve:  #c6a0f6;
  --palette-Red:  #ed8796;
  --palette-Maroon: #ee99a0;
  --palette-Peach:  #f5a97f;
  --palette-Yellow: #eed49f;
  --palette-Green:  #a6da95;
  --palette-Teal: #8bd5ca;
  --palette-Sky:  #91d7e3;
  --palette-Sapphire: #7dc4e4;
  --palette-Blue: #8aadf4;
  --palette-Lavender: #b7bdf8;
  --palette-Text: #cad3f5;
  --palette-Subtext1: #b8c0e0;
  --palette-Subtext0: #a5adcb;
  --palette-Overlay2: #939ab7;
  --palette-Overlay1: #8087a2;
  --palette-Overlay0: #6e738d;
  --palette-Surface2: #5b6078;
  --palette-Surface1: #494d64;
  --palette-Surface0: #363a4f;
  --palette-Base: #24273a;
  --palette-Mantle: #1e2030;
  --palette-Crust:  #181926;
  --border-radius: 4px;
  --element-shadow: 0 0.25rem 0.5rem var(--palette-Crust);
}

* {
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-color: var(--palette-Base);
  bottom: 0;
  color: var(--palette-Text);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: var(--palette-Surface0);
  color: var(--palette-Text);
  font-weight: 600;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  border: 1px solid var(--palette-Surface2);
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: var(--palette-Surface2);
}

input {
  background: var(--palette-Crust);
  border: none;
  border-radius: var(--border-radius);
  color: var(--palette-Text);
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0.5rem;
  box-shadow: inset 0px 0px 4px var(--palette-Overlay1);
}

input:hover, input:focus, input:focus-visible {
  border: none;
  outline: 0;
  background-color: var(--palette-Base);
  box-shadow: inset 0px 0px 4px var(--palette-Overlay2);
}

input::placeholder {
  color: var(--palette-Text);
  font-weight: 300;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(var(--palette-Base), var(--palette-Crust));
}

.app-header {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-header > h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 100;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  margin-top: 1rem;
}

.main > * {
  margin: 0 1rem 1rem 1rem;
}

.main *:last-child {
  margin-bottom: 0;
}

.main::-webkit-scrollbar {
  background: inherit;
  height: 0;
  width: 0;
}
.filter {
  display: flex;
  justify-content: center;
}

.filter button {
  box-shadow: var(--element-shadow);
}

header {
  background-image: linear-gradient(var(--palette-Base), var(--palette-Crust));
  box-shadow: var(--element-shadow);
  padding: 20px 15px 15px 15px;
  position: relative;
}

.app-bar {
  display: flex;
  justify-content: space-between;
}

.app-bar h1 {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  margin: 0;
}

.app-bar small {
  vertical-align: super;
  font-weight: 400;
  font-size: 0.75rem;
}

.task-form {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--element-shadow);
  border-radius: var(--border-radius);
}

.task-form > input::placeholder {
  color: var(--palette-Text);
  font-weight: 300;
}

.task-form > input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  flex-grow: 1;
  width: 100%;
}

.task-form > button {
  aspect-ratio: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.tasks {
  list-style-type: none;
  padding-inline-start: 0;
}

.tasks > li {
  display: flex;
  padding: 1rem;
  align-items: center;
  background-color: var(--palette-Surface1);
  margin-bottom: 1rem;
  box-shadow: var(--element-shadow);
  border-radius: var(--border-radius);
}


.tasks > li > span {
  flex-grow: 1;
}

.tasks > li > button {
  background-color: var(--palette-Red);
  border-radius: 100%;
  color: var(--palette-Crust);
  font-size: 1rem;
  font-weight: 500;
  justify-self: flex-end;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  line-height: 100%;
  box-shadow: var(--element-shadow);
  border: none;
}

.tasks > li > .delete:hover {
  background-color: var(--palette-Maroon);
}

.login-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form label{
  display: none;
}
.login-form input{
  margin: 0 0 1rem 0 !important;
  width: 14rem;
}

.login-form [type=submit] {
  display: block;
  width: 14rem;
  box-shadow: var(--element-shadow);
}

.user {
  display: flex;
  flex-direction: row-reverse;
}

.user button img, .user button svg {
  margin: 0 0.5rem;
}

.user button img:last-child, .user button svg:last-child {
  margin-right: 0;
}
.user button {
  display: flex;
  padding: 0.2rem 0.5rem;
}
.user button:hover {
  color: var(--palette-Red);
}